form
{
    font: bold 36px;
    text-align: center;
    border-color: #e5e5e5;
    border-style: solid;
    padding: 10px 10px 50px 50px;
    width: 500px;
    height: 500px;
}

h4
{
    text-align: left;
    margin-left: 105px;
    margin-bottom: 5px;
    position: relative;
}

input
{
    border-radius: 5px;
    font: 14px Vendana , sans-serif;
    padding: 10px;
    width: 50%;
}

button
{
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 100px 10px 100px;
    /*padding-left: 30px;
    padding-right: 30px;*/
    background-color: #4bc970;
    text-align: center;
    font: bold 48px;
    color: white;
    width: 55%;
}